.hero {
  display: flex;
  flex-direction: row;
  padding: 0 50px;
  align-items: center;

  br {
    display: block;

    @media screen and (max-width: 992px) {
      display: none;
    }
  }

  &__size {
    width: 50%;

    @media screen and (max-width: 992px) {
      width: 100%;
    }
  }

  &__left {
    h2 {
      font-size: 64px;
      font-weight: 700;
      margin-bottom: 25px;
      color: var(--typography);

      @media screen and (max-width: 992px) {
        font-size: 48px;
        margin-bottom: 10px;
      }
    }

    h3 {
      font-weight: 500;
      font-size: 20px;
      color: #797979;
      margin-bottom: 35px;

      @media screen and (max-width: 992px) {
        margin-bottom: 15px;
      }
    }
  }

  &__buttons {
    display: flex;
    column-gap: 30px;
    row-gap: 5px;
    margin-bottom: 48px;
    flex-wrap: wrap;

    @media screen and (max-width: 992px) {
      margin-bottom: 20px;
    }
  }

  &__rating {
    display: flex;
    flex-direction: row;

    &-users {
      position: relative;

      img {
        position: absolute;
      }

      img:first-child {
        left: 0;
      }

      img:nth-child(2) {
        left: 30px;
      }

      img:nth-child(3) {
        left: 60px;
      }
    }

    &-data {
      margin-left: 140px;
      margin-top: 11px;

      p {
        font-weight: 600;
        font-size: 16px;
        margin-bottom: 6px;
        color: var(--typography);
      }

      span {
        font-weight: 400;
        font-size: 14px;
        color: var(--typography);
        display: flex;
        align-items: center;
        span {
          font-weight: 400;
          font-size: 10px;
          color: #9c9c9c;
          margin-left: 3px;
        }
      }
    }
  }

  &__right {
    display: block;

    img {
      width: 100%;
    }

    @media screen and (max-width: 992px) {
      display: none;
    }
  }
}
