* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  width: 100vw;
  overflow-x: hidden;
}

code {
  font-family: "Montserrat", sans-serif;
}

:root {
  --primary-color: #ec994b;
  --typography: #222224;
  --primary-background: #f9f9f9;
  --secondary-background: #d9d9d9;
}

.section-title {
  font-weight: 500;
  font-size: 14px;
  color: var(--primary-color);
  text-align: center;
  margin-bottom: 16px;

  &::before {
    content: "-";
    margin-right: 5px;
  }

  &::after {
    content: "-";
    margin-left: 5px;
  }
}

.section-subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: var(--typography);
  text-align: center;
}
